<h1>Edit Bottle</h1>
<form id="edit-form">
  <div class="form-group col-md-4">
    <input id='wineName' name="bottle[wineName]" class="form-control" placeholder="Wine Name"/>
  </div>
  <div class="form-group col-md-4">
    <input id='description' name="bottle[descritpion]"  class="form-control" placeholder="Description"/>
  </div>
  <div class="form-group col-md-4">
    <input id='year' name="bottle[year]"  class="form-control" placeholder="Year"/>
  </div>
  <div class="form-group col-md-4">
    <input id='quantity' name="bottle[quantity]"  class="form-control" placeholder="Qty"/>
  </div>
  <div class="form-group col-md-4">
    <button type="submit" id='editBottle' class="btn btn-success col-md-12">Edit Bottle</button>
  </div>
</form>


<script type="text/javascript" src="/js/bottle/edit.js"></script>
