<a href="/bottles/new"><button id='add-bottle' class='btn btn-lg btn-primary'>Add a Bottle</button></a>

<div id='index-bottles'></div>

<script type="text/javascript" src="/js/bottle/index.js"></script>