<div id='video-id' style="width: 100%; overflow: hidden; max-height: 1080px; max-width: 1920px;">
  <video autoplay loop style="width: 100%">
    <source src="img/home_screen.webm">
  </video>
</div>

<section id='overlay'>
  <h1>Manage Your Wine<br>Inventory With Ease.</h1>
  <p>MyBottles is a management suite for your wine inventory</p>
  <a href='/signup'>
    <button id='signup' class='btn btn-lg'>SignUp</button>
  </a>
  <a href='/signin'>
    <button id='login' class='btn btn-lg'>Login</button>
  </a>
</section>

<script type="text/javascript" src="/js/home.js"></script>